project     = "tfeks"
aws_region  = "us-east-1" # "us-east-1", "ap-southeast-1"
aws_profile = "default" 

# VPC
subnet_count = 3

# EKS
k8s_version         = "1.20.4"
node_count          = 1
instance_types      = ["t3a.medium"]
spot_node_count     = 2
spot_instance_types = ["t3a.medium", "t3.medium"]