gcp_project_id =
project_name = 

region     = "us-central1"
# comment zone to enable regional cluster 
zone = "us-central1-a"

instance_type = "e2-medium" 
node_count = 3
enable_preemptible = true
gke_env_mode = ""